{% extends "layout.html" %}

{% block title %}
    Videos
{% endblock %}

{% block main %}
    <div id="container">
        <div class = "More Lectures" id="left-column">
            <h3>More Lectures</h3>
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Lecture 2</div>
                <div class="card-body">
                  <h4 class="card-title">Probability</h4>
                  <img src="https://images.pexels.com/photos/37534/cube-six-gambling-play-37534.jpeg?cs=srgb&dl=pexels-pixabay-37534.jpg&fm=jpg" width="280px">
                </div>
            </div>
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Lecture 3</div>
                <div class="card-body">
                  <h4 class="card-title">Counting</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Lecture 4</div>
                <div class="card-body">
                  <h4 class="card-title">Probability in Computing</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div id="middle-column">
            <h1 id = "title">Lecture 1: Chains of Habit</h1>
            <iframe src="https://player.vimeo.com/video/747752214" width="800" height="472.5" frameborder="0"></iframe>
    
            <!-- <button onclick="player.getCurrentTime().then(function(seconds) {console.log('Current time:', seconds);});">Click me</button>
            <p id="demo"></p> -->
      
            <script src="https://player.vimeo.com/api/player.js"></script>
            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
            <script type="text/javascript" src="/static/JS.js"></script>
            <script>
                var iframe = document.querySelector('iframe');
                var player = new Vimeo.Player(iframe);
                const buttonA = document.querySelector('question')
                let questions = '{{ questions }}' // Loads questions as a string of a list of dictionaries
                questions = questions.replace(/&#39;/g,'\'')
                questions = eval('(' + questions + ')');
                console.log(questions)

                for (let i = 0; i < questions.length; i++){
                  player.addCuePoint(questions[i]['time'], questions[i]).then(function(id) {console.log(questions[i]['time'])})
                }
      
                player.on('play', function() {
                console.log('Played the video');

                question.onclick = () => {
                let time = player.getCurrentTime().then(time => 
                    {
                    const name = "Student"
                    const text = document.getElementById("exampleTextarea").value
                    const dict = {name, time, text}
                    const s = JSON.stringify(dict)
                    console.log(s)
                    $.ajax({
                        url:"/test",
                        type:"POST",
                        contentType: "application/json",
                        data: JSON.stringify(s) });
                    }
                    )
                }});

                player.on('cuepoint', function(data){
                  console.log('cuepoint reached: ' + data['time'])
                  $("#question_response").fadeIn()

                  
                });

            </script> 
        <div id="question_response" class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Student Question</h5>
              </div>
              <p class="mb-1" id="student_q">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Instructor's Response</h5>
              </div>
              <p class="mb-1" id="instructor_a">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            </a>
        </div>

    </div>
    <div class = "previous question" id="right-column">
        <h3>Previous Questions</h3>
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Question 1</div>
            <div class="card-body">
              <h4 class="card-title">Who are you?</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Question 2</div>
            <div class="card-body">
              <h4 class="card-title">Why is x not a prime?</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Question 3</div>
            <div class="card-body">
              <h4 class="card-title">Can I submit it on Gradescope?</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
    

    </div>

    <div id="bottom">
        <h3>Ask a Question</h3>
        <div class="form-group" id="qs_box">
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
          </div>
        <div id="qs_btn">
            <button class="btn btn-primary btn-xs my-2 my-sm-0" type="submit" id="question">Submit</button>
        </div>
    </div>
{% endblock %}
